body{
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd72fivorROnLsap72h1YevnYAmlMNXLD--JWR-I0YB8MWMJvjrg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 30px;
  margin-top: 60px;
  margin-right: 30px;
}

button{
  border: solid black 3px;
  color: white;
  font-size: 30px;
  align-content: center;
  align-self: center;
  text-align: center;
  background-color: green;
  width: 200px;
  height: 50px;
}

h1{
  animation-name: flip;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  font-size: 70px;
  font-family: arial;
  text-align: center;
  text-shadow: 2px 2px 5px blue;
}

h3{
  color: white;
  font-size: 40px;
  font-family: verdana;
  text-align: center;
  text-shadow: 5px 5px 10px red;
  font-weight: bold;
  border: 3px solid black;
  background-color: blue;
  outline-color: black;
  outline: inherit;
}

h4{
  color: white;
  font-weight: bolder;
  font-style: italic;
  font-size: 40px;
  font-family: verdana;
  text-align: center;
  text-shadow: 5px 5px 10px black;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}


noscript{
  text-align: center;
  border: 2px solid black;
  color: red;
}

.hire{
  border: 3px solid black;
  background-color: white;
  color: blue;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-size: 25px;
  width: 50%;
  margin-left: 25%;
}

.size{
  background-color: yellow;
  width: 100px;
  height: 50px;
}

.size, #size{
  color: black;
  font-size: 25px;
}

@keyframes flip{
  0%{ transform: rotateY(0deg);}
  50%{ transform: rotateY(180deg);}
  100%{transform: rotateY(0deg);}
}

@keyframes color {
  0%{ background-color: orange;}
  33%{background-color: yellow;}
  66%{background-color: red;}
  100%{background-color: orange;}
}

@keyframes rotate{
  0%{ transform: rotate(0deg);}
  50%{ transform: rotate(180deg);}
  100%{transform: rotate(360deg);}
}

@keyframes hid{
  from { visibility: visible;}
  to { visibility: hidden;}

}

@keyframes scale {
  0% { transform: scale(1,1);}
  50% { transform: scale(1.2, 1.2);}
  100% { transform: scale(1, 1);}
}

@keyframes skew {
  0% { transform: skewX(0deg);}
  25% { transform: skewX(10deg);}
  50% { transform: skewX(0deg);}
  75% { transform: skewX(-10deg);}
  100% { transform: skewX(0deg);}
}

div:not(.navigation):not(.master):not(.credit){
  border-radius: 50px;
  margin: 20px;
  padding: 15px;
  max-width: 300px;
  height: 300px;
  float: left;
}

div.master{
  max-width: 2000px;
  min-width: 300px;
}

div.poke-container{

}


div.Pikachu:hover{

}

div.Charizard:hover{
  animation-name: color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

div.Blastoise:hover{
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

div.Venusaur:hover{
  animation-name: scale;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

div.Haunter:hover{
  animation-name: hid;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

div.Porygon:hover{
  animation-name: skew;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}


div.inner{
  font-size: 20px;
  text-align: center;
  border: none;
  align-items: center;
  align-self: center;
  align-content: center;
}

div.Pikachu{
  width: 300px;
  height: 300px;
  background-color: yellow;
  align-self: center;
  align-content: center;
  text-align: center;
}

div.Charizard{
  width: 300px;
  height: 300px;
  background-color: orange;
  align-self: center;
  align-content: center;
  text-align: center;
}

div.Blastoise{
  width: 300px;
  height: 300px;
  background-color: blue;
  align-self: center;
  align-content: center;
  text-align: center;
}

div.Venusaur{
  width: 300px;
  height: 300px;
  background-color:  green;
  align-self: center;
  align-content: center;
  text-align: center;
}

div.Haunter{
  width: 300px;
  height: 300px;
  background-color: purple;
  align-self: center;
  align-content: center;
  text-align: center;
}

div.Porygon{
  width: 300px;
  height: 300px;
  background-color: red;
  align-self: center;
  align-content: center;
  text-align: center;
}

div.Meow{
  width: 300px;
  height: 300px;
  background-color: white;
  align-self: center;
  align-content: center;
  text-align: center;
}

img{
  width: 200px;
  height: 200px;
}

p{
  font-weight: bold;
}


@keyframes color {
0%  {text-shadow: 5px 5px 10px blue;}
20% {text-shadow: 5px 5px 10px red;}
40% {text-shadow: 5px 5px 10px pink;}
60% {text-shadow: 5px 5px 10px yellow;}
80% {text-shadow: 5px 5px 10px green;}
100% {text-shadow: 5px 5px 10px blue;}
}

span{
  font-size: 40px;
  font-style: italic;
}


footer{
  margin-top: 50px;
  margin-bottom: 50px;
  text-shadow: 2px 2px 10px blue;
  box-shadow: 2px 2px;
  width: 100%;
  border: solid;
  margin-left: 10px;
  margin-right: 10px;
  background-color: grey;
  text-align: center;
  animation-name: color;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

ul{
  list-style-type: square;
  color: black;
}

div.credit{
  background-color: tan;
  border: dotted 1px blue;
}

li.credit {
  color: black;
  font-family: arial;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
