body{

  min-width: 200px;

}



div.navigation{

  padding-top: 1px;

  padding-bottom: 1px;

  width: 100%;

  background-color: black;

  padding: 1px;
  z-index: 10;


}



nav{

  background-color: yellow;



}



ul.navigate {
	box-sizing: border-box;

  z-index: 10;

  border: solid black 5px;

  position: fixed;

  top: 0%;

  left: 0%;

  width: 100%;

  min-width: 100%;

  list-style-type: none;

  margin: 0;

  overflow: hidden;

  background-color: #333;

  align-self: center;

  align-content: center;

  text-align: center;

  padding-left: 15%;


}


li.navigate{
  box-sizing: border-box;

  min-width: 20%;

  max-width: 200px;

  z-index: 10;

  float: left;

  border-right: 2px solid blue;

}

@media screen and (min-width: 901px) {
	li.navigate{
		font-size: 30px;
	}

}

@media screen and (max-width: 900px) {
	ul.navigate {
		padding-left: 0px;
	}

	li.navigate{
		font-size: 16px;
	}

}


li.navigate:first-child{

  border-left: 2px solid blue;

}



li.navigate:last-child{

  border-right: 2px solid blue;

}



li a.navigate{

  display: block;

  color: white;

  text-align: center;

  padding: 15px 15px;

  text-decoration: none;

}



li a.navigates{

  display: block;

  color: white;

  text-align: center;

  padding: 15px 15px;

  text-decoration: none;

}



li a.navigate-active{

  display: block;

  color: white;

  background-color: #4CAF50;

  text-align: center;

  padding: 15px 15px;

  text-decoration: none;

}



li a.navigate:hover{

    background-color: #111;

    color: yellow;

}



li a.navigates:hover{

    background-color: #111;

    color: yellow;

}



li a.navigate-active:hover{

    color: yellow;

}





/*

li a.navigate:visited{

  color: purple;

}



li a.navigate:link{

  color: black;

}



li a.navigate:active{

  color: black;

  background-color: white;

}

*/



@keyframes color {

0%  {text-shadow: 5px 5px 10px blue;}

20% {text-shadow: 5px 5px 10px red;}

40% {text-shadow: 5px 5px 10px pink;}

60% {text-shadow: 5px 5px 10px yellow;}

80% {text-shadow: 5px 5px 10px green;}

100% {text-shadow: 5px 5px 10px blue;}

}



span{

  font-size: 40px;

  font-style: italic;

}





footer{

  margin-top: 50px;

  margin-bottom: 50px;

  text-shadow: 2px 2px 10px blue;

  box-shadow: 2px 2px;

  width: 90%;

  border: solid;

  margin-left: 10px;

  margin-right: 10px;

  background-color: grey;

  text-align: center;

  animation-name: color;

  animation-duration: 6s;

  animation-iteration-count: infinite;

}