  body{

    /* Blue */

    background-color: #2179FF;
    box-sizing: border-box;

  }



  div:not(.navigate), div:not(.navigation){

    background-color: white;

    border: solid;

    margin-left: 10px;

    margin-right: 10px;

    box-sizing: border-box;

    max-width: 100%;

  }



  div:hover:not(.navigate), div:hover:not(.navigation){

    background-color: yellow;

  }


  .a:hover{

    text-decoration: underline;

  }


   .b:hover{

    text-decoration: underline;

  }


  /* Animation code */

    @keyframes rotate {

    0%  {color: black; transform: rotate(0deg);}

    30%  {color: black; transform: rotate(0deg);}

    70% {color: black; transform: rotate(360deg);}

    75% {color: red; transform: rotate(360deg);}

    100% {color: black; transform: rotate(360deg);}

    }



    /* Animation code */

      @keyframes changes {

      0%  {color: black;}

      30%  {color: red;}

      70% {color: black;}

      75% {color: red;}

      100% {color: black}

      }



  h1{

    font-size: 50px;

    font-weight: bolder;

    text-align: center;

    animation-name: changes;

    animation-duration: 12s;

    animation-iteration-count: infinite;

  }





  h1:hover{

    text-decoration: underline;

  }



  @keyframes pusha {

    0% {transform: translateX(0%); }

    50% {transform: translateX(40%);}

    100% {transform: translateX(0%);}



  }



  @keyframes pushb {

    0% {transform: translateX(0%);}

    50% {transform: translateX(25%);}

    100% {transform: translateX(0%);}



  }



  h2{

    margin-left: 50px;

    font-family: verdana;

    font-size: 40px;

    font-weight: bold;

    text-align: left;

  }



  h3{

    margin-left: 50px;

    font-family: arial;

    font-size: 35px;

    font-weight: bold;

    text-align: left;

  }



  h4{

    margin-right: 50px;

    font-size: 35px;

    text-align: right;

  }



  table{

    align-self: center;

    box-sizing: border-box;

  }



  td.right{

  width: 50%;

  align-self: center;

  box-sizing: border-box;

  }



  td.left{

    background-color: red;

    width: 50%;

    border-right-style: solid;

    align-self: center;

    box-sizing: border-box;

  }



  img{

    width: 100%;

    min-width: 50%;

    height: 20em;

    min-height: 300px;

    max-height: 500px;

    box-sizing: border-box;

  }



  @keyframes flip{

    0%{transform: rotateY(0deg);}

    50%{transform: rotateY(180deg);}

    100%{transform: rotateY(0deg); }

  }



  img:hover{

    animation-name: flip;

    animation-duration: 5s;

    animation-iteration-count: infinite;

  }



  address{

    font-weight: bolder;

    margin-left: 50px;

    margin-right: 50px;

    font-size: 25px;

    text-align: left;

  }



  p{

    text-indent: 2em;

    margin-left: 50px;

    margin-right: 50px;

    font-size: 25px;

    text-align: left;

  }



  p.date{

    font-weight: bold;

    margin-right: 50px;

    font-size: 25px;

    text-align: right;

  }



  ul:not(.navigate){

    list-style-type: square;

  }



  li:not(.navigate){

    margin-left: 75px;

    margin-right: 50px;

    margin-bottom: 15px;

    font-size: 25px;

  }





  span{

    font-size: 40px;

    font-style: italic;

  }





  span:hover{

    text-decoration: underline;

  }





  input.top{

    border: solid black 1px;

    text-align: center;

    font-weight: bold;

    color: black;

    align-content: center;

    width: auto;

    padding: 5px;

    height: 50px;

    font-size: 20px;

    background-color: orange;

    margin-bottom: 10px;

    box-sizing: border-box;

  }

  @media screen and (max-width: 650px) {
    h2{
      font-size: 30px;
    }

    h3{
      font-size: 25px;
    }

    a, address{
      font-size: 16px;
    }

    p.date{
      font-size: 20px;
    }

    p, li:not(.navigate){
      font-size: 18px;
    }

    address, h2, h3, p, li:not(.navigate){
      margin-left: 10px;
    }

  }

    @media screen and (max-width: 500px) {
    td.right{
      display: none;
    }

    td.left{
      border: none; 
      min-width: 100%;
      max-width: 100%;
    }

    table{
      max-width: 100%;
      margin: 0;
    }

  }